exclude: conftest.py
repos:
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    - id: black
      additional_dependencies: ["click==8.0.4"]
      exclude: networks

-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.35.0
    hooks:
    - id: markdownlint

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    - id: check-added-large-files
      args: [--maxkb=250]
      exclude:
      exclude: |
            (?x)^(
                frontend/package-lock.json |
                .licenses/details.json
            )$
    - id: trailing-whitespace

-   repo: https://github.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    - id: flake8
      name: flake8
      language_version: python3
      exclude: "__init__.py"
      exclude: networks
      args: [--config, setup.cfg]
    - id: flake8
      name: flake8 __init__.py files
      files: "__init__.py"
      # ignore unused import error in __init__.py files
      args: ["--ignore=F401,E203", --config, setup.cfg]
# -   repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v0.770
#     hooks:
#     - id: mypy
#       args: [
#           --follow-imports, silent
#         ]
