-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_local]==0.4.16
pytest-regtest==1.5.1 # v2 of pytest currently has a bug https://gitlab.com/uweschmitt/pytest-regtest/-/issues/20
coverage
# pin these dependencies
torch_harmonics==0.6.0  # more recent versions of torch harmonics will upgrade pytorch
boto3==1.35.36
-e .[graphcast,pangu]
