-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_local]==0.4.16
pytest-regtest==1.5.1 # v2 of pytest currently has a bug https://gitlab.com/uweschmitt/pytest-regtest/-/issues/20
